

.my_icon {
  position: relative;
  width: 50px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: -450px;
}

.profile {
  padding-left: 50%;

}

.name {
  margin-top: -70px;
}

.name p {
  position: relative;
  display: block;

  margin-left: -350px;
  top: 15px;
  font-size: 17px;
  letter-spacing: 1px;
  padding-top: 20px;

}

.input {
  width: 300px;
  margin-left: -80px;
  background-color: #f0f0f0;
  border: none;
  border-bottom: solid 1px #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;

}

.input[type="file"] {
  display: none;

}
div.input {
  background-color: #f0f0f0;
  margin-bottom: 50px;
  width: 350px;
  height: 120px;

}

label text {
  position: relative;
  display: flex;
  color: #676767;
  top: 20px;
  left: 40px;
}

label {
  position: relative;
  display: block;
  background-color: #fff;
  width: 180px;
  height: 60px;
  left: 80px;
  top: 30px;


  text-align: center;
  border-radius: 10px;
}

.profile{
position: relative;
padding-bottom: 100px;
border-bottom: 5px solid #d3d3d3;
}

.username {
  position: relative;
  margin-left:150px;
  margin-top: -25px;
  margin-bottom: 55px;
  font-size: 13px;
  top:-50px;


}

.posts {
   position: relative;
  top: -100px;
  margin-left: 150px;
}

.created_at {
  position: relative;
  display: block;
  margin-left: 1000px;
  margin-top: -150px;
  margin-bottom: 5%;
  font-size: 12px;
}

.user-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 30px;
  width: 50px;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 20px;

}

.user_posts {
  border-bottom: solid 2px #d3d3d3;
}

.user_data {
  padding-top: 10px;

}

.follow_button {
  position: absolute;
  top: 250px;
  left: 900px;
}

.follow_button .btn_unfollow{
  color: #fff;
  background-color: #B95656;

}

.follow_button .btn_follow{
  color: #fff;
  background-color: #4B71CA;
  width: 125px;

}
